appName: "travel-discovery-onix"
log:
  level: debug
  destinations:
    - type: stdout
  contextKeys:
    - transaction_id
    - message_id
    - subscriber_id
    - module_id
http:
  port: 5000
  timeout:
    read: 30
    write: 30
    idle: 30
pluginManager:
  root: ./plugins
modules:
  # BAP Transaction Receiver (receives responses from BPPs)
  - name: bapTxnReceiver
    path: /bap/receiver/
    handler:
      type: std
      role: bap
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: travel-discovery-bap
            keyId: travel-discovery-bap-key
            signingPrivateKey: uc5WYG/eke0PVGyQ9JNVLpwQL0K9JIZfHfqUHdLBTaY=
            signingPublicKey: UX1EDpL4YHOnfkuhrtS+Bz18qwidrX+oJxButD8xaCE=
            encrPrivateKey: uc5WYG/eke0PVGyQ9JNVLpwQL0K9JIZfHfqUHdLBTaY=
            encrPublicKey: UX1EDpL4YHOnfkuhrtS+Bz18qwidrX+oJxButD8xaCE=
        router:
          id: router
          config:
            routingConfig: ./config/travel-discovery-routing.yaml
        middleware:
          - id: reqpreprocessor
            config:
              uuidKeys: transaction_id,message_id
              role: bap
      steps:
        - addRoute

  # BAP Transaction Caller (sends requests to BPPs)
  - name: bapTxnCaller
    path: /bap/caller/
    handler:
      type: std
      role: bap
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: travel-discovery-bap
            keyId: travel-discovery-bap-key  
            signingPrivateKey: uc5WYG/eke0PVGyQ9JNVLpwQL0K9JIZfHfqUHdLBTaY=
            signingPublicKey: UX1EDpL4YHOnfkuhrtS+Bz18qwidrX+oJxButD8xaCE=
            encrPrivateKey: uc5WYG/eke0PVGyQ9JNVLpwQL0K9JIZfHfqUHdLBTaY=
            encrPublicKey: UX1EDpL4YHOnfkuhrtS+Bz18qwidrX+oJxButD8xaCE=
        router:
          id: router
          config:
            routingConfig: ./config/travel-discovery-bap-routing.yaml
        signer:
          id: signer
        middleware:
          - id: reqpreprocessor
            config:
              uuidKeys: transaction_id,message_id
              role: bap
      steps:
        - addRoute
        - sign

  # BPP Transaction Receiver (receives requests from BAP)
  - name: bppTxnReceiver  
    path: /bpp/receiver/
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: travel-discovery-bpp
            keyId: travel-discovery-bpp-key
            signingPrivateKey: uc5WYG/eke0PVGyQ9JNVLpwQL0K9JIZfHfqUHdLBTaY=
            signingPublicKey: 8CANv4rto7u6RZEB9b6z6mXIIfBLlExIRLBLd5YYl/Y=
            encrPrivateKey: uc5WYG/eke0PVGyQ9JNVLpwQL0K9JIZfHfqUHdLBTaY=
            encrPublicKey: 8CANv4rto7u6RZEB9b6z6mXIIfBLlExIRLBLd5YYl/Y=
        router:
          id: router
          config:
            routingConfig: ./config/travel-discovery-routing.yaml
      steps:
        - addRoute

  # BPP Transaction Caller (sends responses back to BAP)
  - name: bppTxnCaller
    path: /bpp/caller/  
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: travel-discovery-bpp
            keyId: travel-discovery-bpp-key
            signingPrivateKey: uc5WYG/eke0PVGyQ9JNVLpwQL0K9JIZfHfqUHdLBTaY=
            signingPublicKey: 8CANv4rto7u6RZEB9b6z6mXIIfBLlExIRLBLd5YYl/Y=
            encrPrivateKey: uc5WYG/eke0PVGyQ9JNVLpwQL0K9JIZfHfqUHdLBTaY=
            encrPublicKey: 8CANv4rto7u6RZEB9b6z6mXIIfBLlExIRLBLd5YYl/Y=
        router:
          id: router
          config:
            routingConfig: ./config/travel-discovery-routing.yaml
        signer:
          id: signer
      steps:
        - addRoute
        - sign